*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  vertical-align: top;
}

a{
  text-decoration: none;
}

html{
  font-size: 18px;
}

/* Шрифты */
@font-face {
    font-family: "Manrope400";
    src: local("Manrope Regular"),
         local("Manrope-Regular"),
         url("./fonts/Manrope-Regular.woff") format("woff"),
         url("./fonts/Manrope-Regular.woff2") format("woff2"),
         url("./fonts/Manrope-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope500";
    src: local("Manrope Medium"),
         local("Manrope-Medium"),
         url("./fonts/Manrope-Medium.woff") format("woff"),
         url("./fonts/Manrope-Medium.woff2") format("woff2"),
         url("./fonts/Manrope-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope600";
    src: local("Manrope SemiBold"),
         local("Manrope-SemiBold"),
         url("./fonts/Manrope-SemiBold.woff") format("woff"),
         url("./fonts/Manrope-SemiBold.woff2") format("woff2"),
         url("./fonts/Manrope-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



/* Анимация кнопок */

.shopWrapper:hover{
    background-color: rgb(81, 212, 81);
    transition: 0.5s;
}

.contactWrapper:hover{
    background-color: rgba(255, 212, 0, 1);
    transition: 0.5s;
}

.menu a:hover{
    background-color: rgba(255, 212, 0, 1);
    transition: 0.5s;
}

.menu a:nth-child(1):hover{
    background-color: rgba(255, 212, 0, 1);
    transition: 0.5s;
}

.unionCircle:hover{
    background-color: rgb(81, 212, 81);
    transition: 0.5s;
}

.contacts a:hover{
    background-color: rgba(255, 212, 0, 1);
    transition: 0.5s;
}



/* header */

.logo{
  width: 60px;
  height: 60px;
  margin-left: 15px;
}

.union{
  width: 24px;
  height: 24px;
}


.conteinerMenu{
  display: flex;
  max-width: 1920px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 162px;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid #F1F1F3;
}

.burger{
    display: none;
}

.menu{
  display: flex;
  gap:10px;
}

.menu a{
  font-family: 'Manrope500';
  line-height: 1.5;
  padding: 14px 24px;
}

.menu a:nth-child(1){
  border-radius: 100px;
  background-color: #F7F7F8;
  border: 1px solid #F7F7F8;
  color: rgba(38, 38, 38, 1);
}

.menu a:last-child{
  border-radius: 100px;
  border: 1px solid #F1F1F3;
  color: rgba(101, 101, 103, 1);
}

.contacts{
  display: flex;
  gap:14px;
}

.unionCircle{
  position: relative;
  width: 52px;
  height: 52px;
  background-color: #FFD400;
  border-radius: 100px;
  margin: 1.5px 0;
}

.union{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contacts a{
  color: #262626;
  font-family: 'Manrope500';
  font-weight: 500;
  line-height: 1.5;
  padding: 14px 20px;
  border: 1px solid #F1F1F3;
  border-radius: 100px;
}

/* Content */

.conteinerContent{
    max-width: 1280px;
    display: flex;
    gap:80px;
    margin: 100px 162px 200px 161px;
}

.conteinerLeftBlock{
    max-width: 844px;
    display: flex;
    flex-direction: column;
}

.titleWrapper{
    margin-bottom: 24px;
}

.title{
    position: relative;
    display: flex;
    flex-direction: column;
}

.title h1{
    font-family: 'Manrope600';
    font-weight: 600;
    font-size: 48px;
    line-height: 1.4;
    color: rgba(26, 26, 26, 1);
    text-transform: uppercase;
}

.title a{
    position: absolute;
    top:0;
    right: 0;
    padding: 8px 14px;
    font-family: 'Manrope600';
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    color: rgba(152, 152, 154, 1);
    text-transform: uppercase;
    text-decoration: none;
}


.text{
    font-family: 'Manrope400';
    line-height: 1.5;
    color: rgba(101, 101, 103, 1);
    font-weight: 400;
    margin-bottom: 50px;
}


.btn{
    display: flex;
    gap:10px
}


.shopWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 212, 0, 1);
    border-radius: 32px;
    padding: 18px 24px;
    width: 183.25px;
}

.basket{
  width: 24px;
  height: 24px;
}

.shopWrapper a{
    font-family: 'Manrope600';
    line-height: 1.5;
    color: rgba(38, 38, 38, 1);
    font-weight: 600;
}

.contactWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 24px;
    border: 1px solid rgba(241, 241, 243, 1);
    border-radius: 32px;
    width: 183.25px;
}

.contactWrapper a{
    font-family: 'Manrope600';
    line-height: 1.5;
    color: rgba(38, 38, 38, 1);
    font-weight: 600;
}

/* Блок статистики */

.statistic{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 0px 8px rgba(250, 250, 250, 1);
    border-radius: 12px;
    background-color: rgba(247, 247, 248, 1);
}

.staticWrapperUp{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
}

.staticWrapperDown{
    display: flex;
    align-items: center;
    gap: 20px;
}

.block{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 392px;
    padding: 30px;
    border-radius: 12px;
    border: 1px solid rgba(241, 241, 243, 1);
    background-color: rgba(255, 255, 255, 1);
}

.block h1{
    font-family: 'Manrope600';
    font-weight: 600;
    padding-bottom: 6px;
    font-size: 34px;
    line-height: 1;
    text-transform: uppercase;
    color: rgba(26, 26, 26, 1);
}

.about{
    font-family: 'Manrope400';
    font-weight: 400;
    line-height: 1.5;
    color: rgba(101, 101, 103, 1);
}


/* Правый блок  */

.conteinerRightBlock{
    display: flex;
    margin: 0;
    padding: 0;
}

.wrapper{
    position: relative;
    width: 673px;
    height: 749px;
    background-color: rgba(247, 247, 248, 1);
    border-radius: 20x;
}

/* 1 блок */

.nameBlockHodie{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 40px 20px;
    top: 2px;
    left: 1px;
}

.nameBlockHodie a:nth-child(1){
    font-family: 'Manrope500';
    font-size: 16px;
    line-height: 1.5;
    color: rgba(38, 38, 38, 1);
    padding: 8px 14px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 32px;
}

.hodie{
    top: -11px;
    left: 43px;
    position: relative;
}

.hodie a{
    font-family: 'Manrope500';
    font-size: 16px;
    line-height: 1.5;
    color: rgba(38, 38, 38, 1);
    padding: 8px 14px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 32px;
}

.jacketBlock{
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    align-items: center;
    top: 257px;
    left: 42px;
}

.jacketBlock a{
    font-family: 'Manrope500';
    font-size: 16px;
    line-height: 1.5;
    color: rgba(38, 38, 38, 1);
    padding: 6px 12px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 32px;
}

.btnBlock{
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.sleeveBlock{
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    bottom: 204px;
    right: 28px;
}

.sleeveBlock a{
    font-family: 'Manrope500';
    font-size: 16px;
    line-height: 1.5;
    color: rgba(38, 38, 38, 1);
    padding: 6px 12px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 32px;
}

.left:hover{
    fill: rgba(255, 212, 0, 1);
}


.right:hover{
    fill: rgba(255, 212, 0, 1);
}



/* Иконки и куртка */

.indicatorUp {
    left: 6px;
    top: 29px;
    position: relative;
    width: 20px;
    height: 35px;
}

.indicatorLeft{
    left: 0px;
    top: 18px;
    position: relative;
    width: 20px;
    height: 35px;
}

.indicatorDown{
    left: 0px;
    top: 17px;
    position: relative;
    width: 18px;
    height: 20px;
}

.rightArrow{
    width: 46px;
    height: 46px;
}

.leftArrow{
    width: 46px;
    height: 46px;
}

.jacket{
    position: absolute;
    top: 2px;
    left: -36px;
}

.jacketImg{
    height: 749px;
}

/* блок информации */

.info{
    position: relative;
    left: 21px;
    bottom: -536px;
    display: flex;
    gap: 21.5px;
    align-items: center;
}

/* Цвет */

.conteinerColor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    padding: 8px 10px 8px 16px;
    border-radius: 100px;
    background-color: #FFFFFF;
}

.textColor{
    font-family: 'Manrope500';
    font-size: 18px;
    line-height: 1.5;
    color: #262626;

}

.color{
    display: flex;
    gap:4px;
    border: 1px solid #F1F1F3;
    padding: 6px 7px;
    border-radius: 100px;
}

.blue{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #739CDA;
}

.coral{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #DAA573;
}

.yellow{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #DAD673;
}

.blue:hover,
.coral:hover,
.yellow:hover{
    outline: 2px solid black;
}

/* Размер */

.conteinerSize{
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 10px 8px 16px;
    border-radius: 100px;
    background-color: #FFFFFF;
    font-family: 'Manrope500';
    font-size: 18px;
    line-height: 1.5;
    color: #262626;
}



.sizeBox{
    display: flex;
    gap:4px;
}


.s, .m, .l, .xl{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 30px;
    padding: 4px 9px;
    border: 1px solid #F1F1F3;
    background-color: #F7F7F8;
    border-radius: 32px;
    font-family: 'Manrope400';
    font-weight: 400;
    color: #262626;
    font-size: 18px;
    line-height: 1.5;
}

.s:hover,
.m:hover,
.l:hover,
.xl:hover{
    outline: 2px solid black;
}

.similar:hover{
    background-color: rgba(255, 212, 0, 1);
}

.similar{
    display: flex;
    gap: 6px;
    padding: 8px 10px 8px 16px;
    background-color: #FFFFFF;
    border-radius: 100px;
    font-family: 'Manrope500';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #262626;
}



@media (max-width:1500px) {
    .conteinerMenu{
        padding: 18px 80px;
    }
    .menu a{
        padding: 12px 20px;
        font-size: 14px;
    }

    .menu a:last-child{
        padding: 12px 18px;
        font-size: 14px;
    }

    .logo{
        width: 40px;
        height: 40px;
    }

    .contacts{
        gap: 12px;
    }

    .unionCircle{
        width: 44px;
        height: 44px;
    }

    .union{
        width: 20px;
        height: 20px;
    }

    .contacts a{
        font-size: 14px;
        padding: 12px 13px;
    }

    /* content */
    .conteinerContent{
        gap:60px;
        margin: 80px 80px 150px 81px;
    }

    .conteinerLeftBlock{
        max-width: 675px;
    }

    .titleWrapper{
        margin-bottom: 20px;
    }

    .title h1{
        font-size: 38px;
        line-height: 1.35;
    }

    .title a{
        padding: 6px 5px;
        font-size: 14px;
        line-height: 1;
    }


    .text{
        font-size: 16px;
        margin-bottom: 40px;
    }


    .btn{
        gap:8px
    }

    .shopWrapper{
        gap: 6px;
        padding: 14px 20px;
        width: 148px;
    }

    .basket{
        width: 20px;
        height: 20px;
    }

    .shopWrapper a{
        font-size: 14px;
    }

    .contactWrapper{
        padding: 14px 20px;
        width: 148px;
    }

    .contactWrapper a{
        font-size: 14px;
    }

    /* Блок статистики */

.statistic{
    margin-top: 60px;
    padding: 16px;
    box-shadow: 0px 0px 0px 6px rgba(250, 250, 250, 1);
}

.staticWrapperUp{
    gap: 16px;
    margin-bottom: 16px;
}

.staticWrapperDown{
    display: flex;
    align-items: center;
    gap: 16px;
}

.block{
    gap:7px;
    width: 313.5px;
    padding: 24px;
}

.block h1{
    font-size: 26px;
}

.about{
    font-size: 16px;
}

.conteinerRightBlock{
    display: flex;
}





/* Правый блок */


/* Иконки и куртка */

.indicatorUp {
    width: 15px;
    height: 33px;
    left: 3px;
    top: 27px;
}

.indicatorLeft{
    left: -5px;
    top: 17px;
    width: 31px;
    height: 37px;
}

.indicatorDown{
    position: relative;
    width: 18px;
    height: 21px;
    left: 0px;
    top: 14px;
}

.rightArrow{
    width: 36px;
    height: 36px;
}

.leftArrow{
    width: 36px;
    height: 36px;
}

.jacket{
    top: -12px;
    left: -37px;
}

.jacketImg{
    height: 619px;
}


.wrapper{
    width: 544px;
    height: 619px;
    border-radius: 16px;
}

/* 1 блок */

.nameBlockHodie{
    padding: 20px 16px;
    top: -12px;
    left: 1px;
}

.nameBlockHodie a:nth-child(1){
    font-size: 14px;
    padding: 6px 10px;

}

.hodie{
    top: 2px;
    left: 42px;
}

.hodie a{
    font-size: 12px;
    padding: 4px 8px;
}

.jacketBlock{
    top: 237px;
    left: 43px;
}

.jacketBlock a{
    text-align: center;
    font-size: 12px;
    padding: 4px 8px;
}
.sleeveBlock{
    right: 28px;
    bottom: 218px;
}
.sleeveBlock a{
    padding: 4px 8px;
    font-size: 12px;
}



/* блок информации */

.info{
    left: 15px;
    bottom: -468px;
    gap: 16px;
}

/* Цвет */

.textColor{
    font-size: 14px;
}

.color{
    gap:2px;
    padding: 4px 5px;
}

.blue{
    width: 16px;
    height: 16px;

}

.coral{
    width: 16px;
    height: 16px;

}

.yellow{
    width: 16px;
    height: 16px;
}


/* Размер */

.textSize{
    font-size: 14px;
}

.sizeBox{
    display: flex;
    gap: 2px;
}


.s, .m, .l, .xl{
    width: 40px;
    height: 9px;
    padding: 8px;
    font-size: 12px;
}


.similar{
    padding: 8px 8px 8px 14px;
    background-color: #FFFFFF;
    font-size: 14px;
}
}



@media (max-width:410px){
       .conteinerMenu{
        padding: 20px 16px;
    }

    .menu{
        display: none;
    }

    .logo{
        width: 35px;
        height: 35px;
        margin: 0;
    }

    .contacts a{
        display: none;
    }

    .contacts {
        align-items: center;
        gap: 10px;
    }

    .unionCircle {
        flex-shrink: 0;
    }

    .burger {
        display: block;
        width: 34px;
        height: 34px;
    }


    /* content */
    .conteinerContent{
        flex-wrap: wrap;
        gap:40px;
        margin: 40px 16px 80px 17px;
        flex-direction: row;
    }

    .conteinerLeftBlock{
        max-width: 357px;
    }

    .titleWrapper{
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }

    .title h1{
        order:2;
        font-size: 28px;
        line-height: 1.4;
        padding-bottom: 10px;
        
    }

    .title a{
        position: relative;
        order:1;
        font-size: 14px;
        line-height: 1;
        padding: 0 0 4px 0;
    }

    .text{
        font-size: 14px;
        margin-bottom: 22px;
    }


    .btn{
        gap:8px
    }

    .shopWrapper{
        gap: 6px;
        padding: 14px 20px;
        width: 174.5px;
    }

    .contactWrapper{
        width: 174.5px;
    }

    /* Блок статистики */

.statistic{
    margin-top: 40px;
    padding: 10px;
    border: none;
    outline: 2px solid rgba(255, 255, 255, 1);
}

.staticWrapperUp{
    gap: 10px;
    margin-bottom: 10px;
}

.staticWrapperDown{
    gap: 10px;
}

.block{
    gap:4px;
    width: 163.5px;
    padding: 20px;
}

.block h1{
    font-size: 20px;
    padding-bottom: 4px;
}

.about{
    font-size: 14px;
}

.conteinerRightBlock{
    display: flex;
}





/* Правый блок */


/* Иконки и куртка */

.indicatorUp {
    width: 15px;
    height: 33px;
    left: 2px;
    top: 28px;
}

.indicatorLeft{
    left: -5px;
    top: 17px;
    width: 31px;
    height: 37px;
}

.indicatorDown{
    position: relative;
    width: 20px;
    height: 21px;
    left: 1px;
    top: 13px;
    
}

.rightArrow{
    width: 36px;
    height: 36px;
}

.leftArrow{
    width: 36px;
    height: 36px;
}

.jacket{
    top: -1px;
    left: -41px;
}

.jacketImg{
    height: 438px;
}


.wrapper{
    width: 357px;
    height: 438px;
    border-radius: 16px;
}

/* 1 блок */

.nameBlockHodie{
    padding: 20px 16px;
    top: -2px;
    left: 0px;
}

.hodie{
    top: -18px;
    left: 22px;
}

.jacketBlock{
    top: 148px;
    left: 12px;
}

.jacketBlock a{
    text-align: center;
    font-size: 12px;
    padding: 4px 8px;
}
.sleeveBlock{
    right: 5px;
    bottom: 229px;
}
.sleeveBlock a{
    padding: 4px 8px;
    font-size: 12px;
}



/* блок информации */

.info{
    flex-wrap: wrap;
    left: 16px;
    bottom: -249px;
    gap: 10px;
}

/* Цвет */
.conteinerColor{
    order:2;
}
.textColor{
    font-size: 14px;
}

.color{
    order:2;
    gap:2px;
    padding: 4px 5px;
}

.blue{
    width: 16px;
    height: 16px;

}

.coral{
    width: 16px;
    height: 16px;

}

.yellow{
    width: 16px;
    height: 16px;
}


/* Размер */
.conteinerSize{
    width: 325px;
    order:1;
}
.textSize{
    font-size: 14px;
}

.sizeBox{
    gap: 2px;
}


.s, .m, .l, .xl{
    width: 63px;
    height: 25px;
    padding: 8px;
    font-size: 12px;
}


.similar{
    justify-content: center;
    margin-left: 8px;
    width: 175px;
    order:3;
    padding: 8px 8px 8px 14px;
    background-color: #FFFFFF;
    font-size: 14px;
}
}